/* E.g. Style Guide: https://google.github.io/styleguide/htmlcssguide.xml */

body{
	margin: 0px;
}
/**
 * Your main styles at the top apply to the smallest screen/viewport,
 * e.g. width of 320px, or anything less than the following breakpoint.
 * Ordering the breakpoints in this way, smallest to biggest, is loosely
 * called a "mobile-first" approach to responsive design. The CSS targets
 * the "mobile" device sizes first, then overridden on larger devices.
 */
 
body{
	font-family: "Calibri";
}
 
header span.img {
    display: block;
}	

#logo{
	background-color: PowderBlue;
	color : white;
	text-align: center;
	width: 100%;
	color: white;
	font-size: 200%;	
	display: inline-block;
	vertical-align: middle;	
	padding: 10px 0px;
	
}	
	
#menu{
	background-color: LightGray;
	color : white;
	text-align: center;
	width: 100%;
	color: white;
	font-size: 200%;	
	display: inline-block;
	vertical-align: middle;
}	

#menu ul{
	list-style: none;
	margin: 10px;
}

#menu li{
	color: grey;
	margin: 10px 30px;
}	

#menu a{
	color: white;
	text-decoration: none;
}
		
@media screen and (min-width: 480px) {

    /**
     * Tip! Since we need floating columns, we can apply the floats here
     * and also the self-clearing container trick.
     * Incase you're wondering `::after` is a pseudo element:
     * http://www.w3schools.com/CSSref/sel_after.asp
     */

    /* Re-style here... */
	

	
		    
}

@media screen and (min-width: 1280px) {
    /* Re-style here, if necessary! */
	
	#logo{
		width:15%;

	}
	
	#menu{
		width: 35%;
		float: right;	


	}
	
	#menu li{
		display: inline;
	}
}