/* This file contains styles for the post feed. This includes posts themselves, and the way they are layed out on screen. */

/* A wrapper for the entire area of the post feed. Includes the header "Recent Posts" and the post feed */
.post_feed_wrapper{
	max-width: 1280px;
	margin: 0 auto;
	position: relative;
}

/* Styling the "Recent Posts" headline of the post feed */
.post_feed_wrapper h2{
	text-align: center;
	color: black;
	border: darkgray 1px solid;
	background-color: white;
}

/* Adding a bit of padding to the post feed to make sure it's distinct */
.post_feed {
    padding: 50px;
}

/* Styling the whole of the post, mainly setting a background */
.post {
    background: white;
    padding: 10px;
    margin: 15px;
	border-radius: 10px;	
	border: solid darkgray 1px;
	position: relative;
	width: 100%;
}

/*  Images in image posts are size capped. */
.imgPost{
	max-width: 50%;
	max-height: 50%;
}

/* Avatars in a post have a fixed size, just for visuals. */
.poster_avatar{
	width: 100px;
	height: 100px;
}

/* This part contains the avatar, like bar, and poster info. Flexed to make it smooth */
.post_head{
	display: flex;
}

/* Make the poster's name big. */
.poster_name{
	font-size: 20px;
	margin-bottom: 0px;
}

/* Pad and space the post content so that it's to the right of the avatar, but in line with the rest of the stuff */
.post_content{
	text-align: left;
	margin-left: 100px;
	font-size: 150%;
	width: 80%;
	height: 80%;
}

/* Formatting for the poster's username, date, and like bar */
.poster_info{
	margin-top: -20px;
	display: block;
	margin-left: 10px;
	position: relative;
}

/* Creating space between the post feed and the "Recent Posts" headline */
.post_feed{	
	margin-top:-80px;
}

/* The like bar, containg the like count and the like button. */
.like_bar{
	display: inline;
	position: relative;
}

/* Put it closer to the date. */
.like_count{
	margin-top: 0px;
}

/* Styles the like button. */
.like_button{

	background-color: white;
	border: solid darkgray 1px;
	border-radius: 5px;
}

/* Little hover effect for the like button, changing its colour. */
.like_button:hover{
	background-color: darkgray;
}